/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    Width: 100%;
}

body {
    background-color: rgb(3, 136, 62);
}

#container {
    background-color: white;
    padding: 5px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(249, 223, 55);
    text-decoration: none;
}

/* Mobile Styles */
nav {
    background-color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li  {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: rgb(3, 136, 62);
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(3, 136, 62);
}

header h1 {
    font-size: 35 px;
    color: black;
}

main {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}

#lower {
    border: 2px solid black;
    padding: 10px;
}

.col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(3, 136, 62);
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

/* Tablet Styles */

@media(min-width: 786px) {
    nav {
        text-align: center;
    }
    
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 75%;
    }

    .col img {
        width: 45%;
    }
}

/* Desktop Styles */

@media(min-width: 1024px) {
    #container{
        width: 65%;
        margin: 20px auto;
    }

    #lower {
        width: 100%;
        display: flex;
    }

    .col {
        width: 33.33%;
    }

    #sea {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    
    .seaani {
        margin: 10px;
    }
    
    .seaani img {
        width: 100%;
    }
}