/*Global Styles*/

body {
    background-color: rgb(231, 248, 248);
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: rgb(0, 128, 255);
}

a:hover {
    color: rgb(5, 99, 240);
    text-decoration: none;
}

#container {
    background-color: rgb(229, 248, 251);
    width: 75%;
    margin: 20px auto;
}

/*Desktop Styles*/